<?xml version="1.0"?>
<launch>

  <node name="robot_control" pkg="robot_control" type="robot_control_node" output="screen">
    <remap from="joint_states" to="ytu_racing/joint_states"/>
    <param name="model" value="ytu_racing"/>
    <param name="publish_odom_tf" value="true"/>
  </node> 
  
</launch>
