<?xml version="1.0"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find autonomousim_description)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find autonomousim_description)"/>
  <arg name="namespace" default="eufs"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="cmd_timeout" default="0.5"/>

  <arg name="x" default="-13.0"/>
  <arg name="y" default="14.4"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>l
  <arg name="yaw" default="0.0"/>

  <include file="$(find autonomousim_description)/launch/control.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
           <arg name="world_name" value="$(find autonomousim_description)/worlds/small_track.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <param command="$(find xacro)/xacro '$(find autonomousim_description)/urdf/meshes.xml' --inorder" 
         name="robot_description"/>

  <node args="-urdf -model ytu -param robot_description 
    -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" 
    name="urdf_spawner" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  
  <include file="$(find robot_control)/launch/robot_control.launch"/>

</launch>
